<html>

<head>
  {{>header}}
</head>

<body>
  <h1>{{title}}</h1>
  <div class="text-right">
    <a href="/" class="btn btn-primary">
      switch to Example with one object passed
    </a>
  </div>

  <!--nav jump could be here 
    this loops through enties1 document and displays all of its contents -->
  <h2>Starters</h2>
  {{#entries1}}
   <!-- partial handling menu card -->
  {{>menucard}}
  {{/entries1}}

  <!--nav jump could be here 
    this loops through enties2 document and displays all of its contents -->
  <h2>Mains</h2>
  {{#entries2}}
  {{>menucard}}
  {{/entries2}}

  {{^entries1}}
  No entries yet.
  {{/entries1}}
</body>

</html>