<html>
<!--method using one promise and letting client side handle splitting document-->


<head>
  {{>header}}
</head>

<body>
  <h1>{{title}}</h1>
  <div class="text-right">
    <a href="/ex2" class="btn btn-primary">
      switch to Example with two object passed
    </a>
  </div>

  <!--nav jump could be here 
    this loops through enties document and displays if starter exists -->
  <h2>Starters</h2>
  {{#entries}}
  {{#starter}}

  <!-- partial handling menu card -->
  {{>menucard}}
  {{/starter}}
  {{/entries}}

  <!--nav jump could be here 
    this loops through enties document and displays if mains exists -->
  <h2>Mains</h2>
  {{#entries}}
  {{#main}}
  {{>menucard}}
  {{/main}}
  {{/entries}}

  {{^entries}}
  No entries yet.
  {{/entries}}
</body>

</html>