<div class="card">
    <div class="card-body">
      <h4 class="card-title">{{subject}}</h4>
      <p class="card-text">
        {{contents}}
       </p>
  <div class="card-footer">
    <p>Written by <a href="/posts/{{author}}">{{author}}</a> , on {{published}}</p>
  </div>
  </div>